{% extends "base.html" %}

{% block title %}Изображения{% endblock %}

{% block content %}
    <div class="text_main">
        <p>Загрузите свое изображение для трансформации и преобразования.</p>
    </div>

    <div class="text_info" style="display: inline-block; width: 90%;">


        <p>
            <form action="/image" method="post" enctype="multipart/form-data">
                Выберите изображение для загрузки:
                <input type="file" name="file" id="file" accept="image/*">
                <input type="submit" value="Загрузить">
            </form>
        </p>
        {% if filename %}
            <p><img class="img_loader" src="{{ filename }}" alt="IMG" width="640" height="480"></p>
        {% endif %}


    {% if file_old %}
        <div class="text_info" style="display: inline-block;">
            <p>Ваше загруженное изображение:</p>
            <img src="{{ file_old }}" alt="Old image" width="320" height="240">
        </div>
    {% endif %}

    </div>


{% endblock %}

