name: Deploy APP

on:
  workflow_run:
    workflows: ["Create Report"]
    types:
      - completed


jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Stop and remove old containers (if running)
        run: |
          docker compose down || true

      - name: Deploy application
        run: |
          docker build --no-cache .
          docker compose up -d