name: Create Report

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  create_report:
    runs-on: self-hosted
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up script
        run: |
           chmod +x runner_script.sh
           ./runner_script.sh